page-lameteo {

    $text-input-placeholder-color	:rgb(93, 231, 14);
    ion-input
    {
        border: 1px solid rgba(190, 190, 190, 0.288);
        margin-bottom: 12px;
    }

    img
    {
        width: 100px;
        height: 100px;
    }

}
