page-alerte {
    .but_ins
    {
        display: block;
        background-color: rgb(228, 31, 31);
        color: #ffffff;
        width: 75%;
        margin: auto;

    }
    ._title
    {
        text-align: center;
        font-size: 17px;
        font-weight: bold;

    }
    div p
    {
        text-align: center;
        font-size: 17px;
    }
    .cam
    {
        text-align: center;
        font-size: 35px;
    }
}
